<?xml version="1.0"?>
<!--
/**
 * @category   MagePsycho
 * @package    MagePsycho_GoToCatalog
 * @author     Raj KB <info@magepsycho.com>
 * @website    https://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- Menu Group -->
        <add id="MagePsycho_GoToCatalog::menu_section" title="Go To Catalog" module="MagePsycho_GoToCatalog" sortOrder="20" parent="Magento_Catalog::catalog" resource="MagePsycho_GoToCatalog::menu_section"/>

        <!-- Child Menus -->
        <add id="MagePsycho_GoToCatalog::menu_config" title="Manage Settings" module="MagePsycho_GoToCatalog" sortOrder="20" parent="MagePsycho_GoToCatalog::menu_section" action="adminhtml/system_config/edit/section/magepsycho_gotocatalog" resource="MagePsycho_GoToCatalog::menu_config" />

    </menu>
</config>
